
  header {
    background-color: #333;
    padding: 10px;
  }
  
  .logo{
    /* display: flex; */
    /* align-items: center; */
    /* background-image: url('../ScoutCompany/ScoutLogo.jpg'); */
    /* height: 40px; */
    /* width: 40px; */
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 100px;
  }
  
    /* nav ul li {
      display: inline;
      margin-right: 20px;
    } */
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* nav ul li a.active-link {
    color: #ff6347;
  } */
